.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    height: 70px;
    color: white;
}

git remote add origin https://github.com/majekjola-code/roblox.git
git push -u origin main


git add .



git commit -m "the message"


git push